*{
     background-color: #1E2024;
}

.header{
     text-align: center;
     color: #bb1d4f;
}

.card{
     background-color: #1E2024;   
}

.card-text{
     color: beige;
}
h1{
     color: bisque;
     
}
h6{
     color: #bb1d4f;
     
}